@model EmployeeAddViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="product" asp-action="index">Products</a></li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
            </div>
            <h4 class="page-title">Add product</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" method="POST" asp-controller="home" asp-action="add" id="submit-form">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Name"></label>
                                <input class="form-control" asp-for="Name">
                                <span asp-validation-for="Name" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="FatherName"></label>
                                <input class="form-control" asp-for="FatherName">
                                <span asp-validation-for="FatherName" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Surname"></label>
                                <input class="form-control" asp-for="Surname">
                                <span asp-validation-for="Surname" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="Email"></label>
                                <input class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label asp-for="PIN"></label>
                                <input class="form-control" asp-for="PIN">
                                <span asp-validation-for="PIN" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Category</label>
                                <select class="form-select" asp-for="DepartmentId">
                                    <option disabled>Select the category</option>
                                    @foreach (var category in Model.Departments)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="DepartmentId" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label>Employee's photo</label>
                                <input type="file" asp-for="Image" class="form-control"  >
                                <span asp-validation-for="Image" class="invalid-feedback" style="display:block"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group mt-3">
                    <button class="btn btn-primary" type="submit" form="submit-form">Save</button>
                    <a asp-controller="home" asp-action="index" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>